/* ----------------Особенности-------------------- */

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.features__title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.each-feature__title {
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.features-menu {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.features-menu__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 1 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:nth-last-child(-n + 4) {
      margin-bottom: 0px;
    }
    width: calc((100% - 0 * 30px) / 1);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.each-feature__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
  margin-top: 0px;
}
