.gallary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#fff5f6 40%, #fff 40%);
}

.grid-container {
  columns: 5 80px;
  column-gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;

    border-radius: 20px;
    transition: all 0.25s ease-in-out;
    &:hover img {
      filter: grayscale(0);
    }
    &:hover {
      border-color: coral;
    }
    img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 20px;
      transition: all 0.25s ease-in-out;
    }
  }
}
