.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
  @media screen and (min-width: 480px) {
    width: 480px;
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
}
.mob-container {
  width: 100%;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 48px;

  margin: 0 auto;
  // outline: 2px solid tomato;
  @media screen and (min-width: 480px) {
    width: 480px;
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
}
